%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

%% write log files to sasl_dir
[
 {sasl,
  [
   {sasl_error_logger, {file, "/tmp/simple_cache.sasl_log"}}
  ]},


%% (G)eneric (A)pplication (S)services config below here. This default config provides
%% the release with log rotation and trunctation.
 {gas,
  [
   {mod_specs, [{elwrap, {fs_elwrap_h, start_link}}]},

   % elwrap config.
   {err_log, "/tmp/simple_cache.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}}, 
   {err_log_tty, false}, % Log to the screen

   {home_file_path, ".simple_cache.config"}
   ]},

 {simple_cache, 
  [
   {contact_nodes, ['a@192.168.1.105']}
  ]
 }
]. 
